<style>
    #popup-form {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #000;
        background-color: #fff;
        padding: 20px;
        z-index: 1000;
    }
</style>
<!-- Popup form -->
<div id="popup-form" style="display: none;">
    <!-- Add your form fields or content here -->
    <form>
        <label for="name">Blog-ID:</label>
        <input type="text" id="popup_blog_id" name="blog_id">
        <p></p>
        <div class="form-row field-priority">
            <div>
                <label class="required" for="id_priority">Stocks:</label>
                <textarea name="popup_ref_stocks" cols="40" rows="3" class="vLargeTextField" id="popup_ref_stocks">No Stocks</textarea>
            </div>
        </div>
        <p></p>
        <table id="popup_stock_table">
        </table>
        <p></p>
        <div class="submit-row">
            <input type="submit" value="Submit" id="submitButton" onclick="savePopup()">
            <input type="button" value="Close" onclick="closePopup()">
        </div>
    </form>
</div>