{% load static %}
{% load custom_filters %}
{% load custom_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'myportfolio/styles.css' %}">
</head>
<body>
    {% include 'header.html' %}
    {% include 'nav.html' %}
    <h1>Portfolio</h1>
    <table border="1">
        <thead>
            <tr>
                <th>
                    <a href="?sort_by=shares_name__name&sort_order={% toggle_sort_order sort_by sort_order 'shares_name__name' %}">
                        Share Name
                        {% if 'shares_name__name' in sort_by %}
                            {{ sort_order }}
                            <span class="sort-indicator{% if sort_order == 'asc' %} desc{% else %} asc{% endif %}"></span>
                        {% endif %}
                    </a>
                </th>
                <th>Number of Shares</th>
                <th>
                    <a href="?sort_by=total_shares_value&sort_order={% toggle_sort_order sort_by sort_order 'total_shares_value' %}">
                        Value of Shares
                        {% if 'total_shares_value' in sort_by%}
                            <span class="sort-indicator{% if sort_order == 'asc' %} desc{% else %} asc{% endif %}"></span>
                        {% endif %}
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for share in aggregated_data %}
                <tr>
                    <td>{{ share.shares_name__name }}</td>
                    <td class="number">{{ share.total_number_shares|german_number_format }}</td>
                    <td class="number">{{ share.total_shares_value|german_number_format }} EUR</td>
                </tr>
            {% endfor %}
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td class="number"><strong>{{ total_shares_value|german_number_format }} EUR</strong></td>
            </tr>
        </tbody>
    </table>
    {% include 'footer.html' %}
</body>
</html>