{% load static %}
<!DOCTYPE html>
<html lang="en-us" dir="ltr">
    <head>
        <title>Stock AI | Change Link Category | Django site admin</title>
        {% include 'admin_header.html' %}
        <link rel="stylesheet" href="{% static 'myportfolio/styles.css' %}">
    </head>
    
    <body class=" app-myportfolio model-category change-form" data-admin-utc-offset="0">
        {% include 'header.html' %}
        {% include 'nav.html' %}
        {% csrf_token %}
        <!-- Container -->
        <div id="container"> 
            <div class="main shifted" id="main">
                <div class="content">
                    <!-- Content -->
                    <div id="content" class="colM">      
                    <h2>Process Stocks in Blog Entry</h2>
                    <div>
                        <fieldset class="module aligned ">
                            <div class="form-row field-name">
                                <div>
                                    <label class="required" for="id_name">Headline:</label>
                                    <input type="text" name="name" value="{{ headline }}" class="vTextField" maxlength="92" required="" id="headline">
                                </div>
                            </div>
                            <div class="form-row field-priority">
                                <div>
                                    <label class="required" for="id_priority">Referenced Stocks:</label>
                                    <textarea name="referencedStocks" cols="40" rows="5" class="vLargeTextField" id="id_referencedStocks">{{ stocks }}</textarea>
                                </div>
                            </div>
                        </fieldset>
                    <div class="submit-row">
                        <input type="submit" value="Process" class="default" name="_process" id="process_btn">
                        <p class="deletelink-box"><a href="/myportfolio/" class="deletelink">Cancel</a></p>
                    </div>
                    {% include 'popup_stocks.html' %}
                    <script>
                        // Get the submit button element
                        var submitBtn = document.getElementById('process_btn');
                        var headline = document.getElementById('headline');
                        // headline.value = "Test"
                    
                        // Add click event listener
                        submitBtn.addEventListener('click', function() {
                            // Show the popup form
                            var popupForm = document.getElementById('popup-form');
                            popupForm.style.display = 'block';
                            var popup_ref_stocks = document.getElementById('popup_ref_stocks');
                            var ref_stocks = document.getElementById('id_referencedStocks');
                            popup_ref_stocks.value = ref_stocks.value;
                        });
                        function closePopup() {
                            document.getElementById('popup-form').style.display = 'none';
                        };
                        function saveStocks() {
                            headline.value = "Save";
                            document.getElementById('popup-form').style.display = 'none';
                        }
                    </script>
                </div>
            </div>
        <br class="clear">
        {% include 'footer.html' %}
    </div>
    <!-- END Content -->
    </body>
</html>
