{% load static %}
<!DOCTYPE html>
<html lang="en-us" dir="ltr">
    <head>
        <title>Stock AI | Change Link Category | Django site admin</title>
        {% include 'admin_header.html' %}
        <link rel="stylesheet" href="{% static 'myportfolio/styles.css' %}">
    </head>
    
    <body class=" app-myportfolio model-category change-form" data-admin-utc-offset="0">
        {% include 'header.html' %}
        {% include 'nav.html' %}
        <!-- Container -->
        <div id="container"> 
            <div class="main shifted" id="main">
                <div class="content">
                    <!-- Content -->
                    <div id="content" class="colM">      
                    <h2>Stock AI</h2>
                    <div>
                        <fieldset class="module aligned ">
                            <div class="form-row field-name">
                                <div>
                                    <label class="required" for="id_name">Name:</label>
                                    <input type="text" name="name" value="Stock AI" class="vTextField" maxlength="32" required="" id="id_name">
                                </div>
                            </div>
                            <div class="form-row field-priority">
                                <div>
                                    <label class="required" for="id_priority">Priority:</label>
                                    <input type="number" name="priority" value="3" class="vIntegerField" required="" id="id_priority">
                                </div>
                            </div>
                        </fieldset>
                    <div class="submit-row">
                        <input type="submit" value="Save" class="default" name="_save">
                        <p class="deletelink-box"><a href="/admin/myportfolio/category/3/delete/" class="deletelink">Delete</a></p>
                        <input type="submit" value="Save and add another" name="_addanother">
                        <input type="submit" value="Save and continue editing" name="_continue">
                    </div>   
                </div>
            </div>
        <br class="clear">
        {% include 'footer.html' %}
    </div>
    <!-- END Content -->
    </body>
</html>